@import url(../fonts/fonts.css);

body {
    background-color: #F0F0F0;
}

*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 0px 60px;
    background-image: url("../imgs/photo.png");
    background-size: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

/* .short-img {

} */

.container {
    display: flex;
    height: 110px;
    width: 100%;
}

.full-container {
    height: 550px;
    width: 100%;
}

.project-name {
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'e-Ukraine-Head';
    font-size: 25px;
}

.full-name {
    height: 20%;
}

a {
    /* text-decoration: none; */
    color: unset;
}

.name-wrapper {
    margin-right: auto;
    text-decoration: none;

}

.motto {
    color: white;
    font-family: 'e-Ukraine';
    font-size: 28px;
    margin-top: 11%;
}

.start-button, .fixed-button {
    padding: 15px 20px;
    font-family: 'e-Ukraine';
    color: black;
    background-color: white;
    border-radius: 11px;
    border: 3px solid #DFDFE0;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: transform 300ms ease 0s;
    z-index: 2;

}

.fixed-button{
    position: fixed;
    transform: translateY(-100px);
    right: 60px;
}

.fixed-button.show{
    transform: translateY(0); 
}

.start-button:hover, .fixed-button:hover {
    background-color: #DFDFE0;
    transform: translateY(-4px);
}

.start-fixed {
    position: fixed;
    top: 10px;
    right: 10px;
}

.source-wrapper {
    display: flex;
    position: absolute;
    gap: 3px;
    flex-direction: row;
    font-family: 'e-Ukraine-Light';
    font-size: 13px;
    color: white;
    bottom: 10px;
    right: 60px;
    cursor: default;
}

.type {
    opacity: 0.6;
}

.link {
    opacity: 0.8;
}

.auth-wrapper {
    display: flex;
    align-items: center;
    font-family: 'e-Ukraine-Thin';
    font-size: 16px;
    cursor: pointer;
}

.user-name {
    color: white;
    user-select: none;
    display: flex;
    gap: 5px;
}

.menu-item {
    color:black;
    text-decoration: none;
}

.menu-wrapper {
    width: max-content;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    bottom: 0;
    transform: translateY(calc(100% + 8px)) scale(1);
    right: 50px;
    border-radius: 10px;
    box-sizing: content-box;
    transition: .2s opacity, .2s transform;
    z-index: 2;
}

.hidden{
    opacity: 0;
    transform: translateY(100%) scale(0.95);
    pointer-events: none;
}

.menu-wrapper .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 30px;
    gap: 10px;
}

.down-arrow {
    width: 15px;
}