@import url(../fonts/fonts.css);

body {
    background-color: #F0F0F0;
}

*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 0px 60px;
    background-image: url("../imgs/photo.png");
    background-size: cover;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}

/* .short-img {

} */

.container {
    display: flex;
    height: 110px;
    width: 100%;
}

.full-container {
    height: 550px;
    width: 100%;
}

.project-name {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'e-Ukraine-Head';
    font-size: 25px;
}

.full-name {
    height: 20%;
}

a {
    /* text-decoration: none; */
    color: unset;
}

.name-wrapper {
    margin-right: auto;
    text-decoration: none;

}

.motto {
    color: white;
    font-family: 'e-Ukraine';
    font-size: 28px;
    margin-top: 11%;
}

.start-button {
    padding: 15px 20px;
    font-family: 'e-Ukraine';
    color: black;
    background-color: white;
    border-radius: 11px;
    border: 3px solid #DFDFE0;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.start-button:hover {
    background-color: #DFDFE0;
}

.source-wrapper {
    display: flex;
    position: absolute;
    gap: 3px;
    flex-direction: row;
    font-family: 'e-Ukraine-Light';
    font-size: 13px;
    color: white;
    bottom: 10px;
    right: 60px;
    cursor: default;
}

.type {
    opacity: 0.6;
}

.link {
    opacity: 0.8;
}