@import url(fonts/fonts.css);

.main {
    /* padding: 0px 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.card {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 2px #cacaca;
    width: 350px;
    border-radius: 12px;
    overflow: hidden;
    padding: 20px 0px 0px;
}

.card-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width: 90%;
    height: 100%;
    gap: 10px;
}

.card img {
    top: 0px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 0px 0px 0px 0px;
    max-height: 50%;
    border: 1px solid rgba(0,0,0,0.2);
}

.title, .author-book {
    font-family: 'e-Ukraine';
}

.title {
    font-size: 18px;
    color: black;
    overflow: hidden;
    height: 44px;
}

.author-book {
    font-size: 16px;
    color: rgb(162, 162, 162);
}

.author-post {
    display: flex;
    font-family: 'e-Ukraine-Thin';
    font-size: 16px;
    color: rgb(110, 110, 110);
}

.upload-wrapper {
    /* position: absolute; */
    background-color: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    /* bottom: 0; */
    /* transform: translateY(calc(100% + 8px)) scale(1); */
    right: 50px;
    box-sizing: content-box;
}

.upload-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px 30px;
    gap: 10px;
}

#public {
    font-family: 'e-Ukraine-Light';
    font-size: 19px;
}

.content {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    width: 65%;
    border-radius: 10px;
    background-color: white;
    padding: 20px;

  }

.overlay {
    transition: .2s opacity, .2s transform;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

input {
    border: none;
    outline: none;
    padding: 3px;
    width: 90%;
}

#title, #author {
    font-family: 'e-Ukraine-Light';
    font-size: 19px;
}

.upload-container {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    font-family: 'e-Ukraine-Light';
    font-size: 16px;
    align-items: center;
    border: 1px dotted black;
    border-radius: 15px;
    padding: 10px 30px;
    width: 50%;
}

.upload-label {
    width: 65%;
}

.upload::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #a98538;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  .upload::file-selector-button:hover {
    background: #8b7237;
  }
